<% include ../partials/header.ejs %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h1>Info</h1>
      <div><strong>Artist: </strong><a href="/users/<%= model.author.id %>"><%= model.author.username %></a></div>
      <div><strong>Description: </strong><%= model.description %></div>
      <div id="date"><strong>Date Added: </strong>
        <%= model.date.getDate() %>-<%= model.date.getMonth() +1 %>-<%= model.date.getFullYear() %>
      </div>
      <% if(currentUser && model.author.id.equals(currentUser._id)) { %>
        <p class="inlineButtons"><a href="/models/<%= model._id %>/edit" class="btn btn-secondary btn-sm">Edit</a></p>
        <form action="/models/<%= model._id %>?_method=DELETE" method="POST" class="inlineButtons">
          <button class="btn btn-danger btn-sm">Delete</button>
        </form>
      <% } %>
    </div>

<<<<<<< HEAD
    <div class="col-md-9">
      <h1><%= model.title %></h1>
      <img src="<%= model.image %>" id="showModelImg">
    </div>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9">
      <p id="addNewCommentBtn"><a href="/models/<%= model._id %>/comments/new" class="btn btn-primary btn-sm">Add New Comment</a></p>
      <div id="commentsArea">
        <% model.comments.forEach(function(comment) { %>
          <p><%= comment.text %> - <strong><%= comment.author.username %></strong></p>
        <% }); %>
      </div>
    </div>
  </div>
=======
  <p><a href="/viewer/<%= model._id %>" class="btn btn-primary">View 3D-Model</a></p>

  <p><a href="/models/<%= model._id %>/comments/new" class="btn btn-primary">Add New Comment</a></p>
  <% model.comments.forEach(function(comment) { %>
    <p><%= comment.text %> - <strong><%= comment.author.username %></strong></p>
  <% }); %>
>>>>>>> 944b14d5de88ce7ac538f2a0dea133e678f02f40
</div>

<% include ../partials/footer.ejs %>